<div class="container">
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <h3>Login:</h3>
    <br>
    <div>
      <label for="email">E-mail:</label>
      <input
        name="email"
        ngModel
        type="email"
        placeholder="E-mail"
        #emailInput="ngModel"
        required
        email>
      <div class="error-message" *ngIf="emailInput.invalid && emailInput.touched">
        Please enter a valid email.
      </div>
    </div>
    <br>

    <div>
      <label for="password">Password:</label>
      <input
        name="password"
        ngModel
        type="password"
        placeholder="Password"
        #passwordInput="ngModel"
        required>
        <div class="error-message" *ngIf="passwordInput.invalid && passwordInput.touched">
          Please enter a valid password.
        </div>
    </div>
    <br>

    <button
      type="submit"
      [disabled]="loginForm.invalid"
      *ngIf="!isLoading">Login</button>
  </form>
</div>
