.friend-request {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-details {
  margin-left: 10px;
  flex-grow: 1; /* Added */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttons {
  display: flex;
  gap: 2px;
}

button {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-button {
  background-color: #4CAF50;
  color: #fff;
}

.decline-button {
  background-color: #f44336;
  color: #fff;
}

.accept-button:hover,
.decline-button:hover {
  opacity: 0.8;
}
