.navbar {
  background-color: #3e3e3e;
  color: #c0c0c0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  margin: 0 10px;
}

a {
  color: #c0c0c0;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

a:hover {
  background-color: #4e4e4e;
  border-radius: 0.5rem;
  color: #c0c0c0;
}

.active {
  background-color: #4e4e4e;
  border-radius: 0.5rem;
  color: #c0c0c0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  overflow: hidden;
}

.navbar-item {
  margin: 0 1rem;
  text-decoration: none;
  color: #c0c0c0;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  gap: 2px;
}

.navbar-item:hover {
  color: #f2f2f2;
}

.logButton {
  background-color: #f21818;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.logButton:hover {
  transform: scale(1.05);
}

/* @media (max-width: 768px) {
  .navbar-menu {
    justify-content: flex-end;
  }
  ul {
    flex-wrap: wrap;
  }
  li {
    margin: 5px;
  }
  .navbar-item {
    margin: 0;
  }
} */

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  span {
    height: 2px;
    width: 25px;
    background: #c0c0c0;
    margin-bottom: 5px;
    border-radius: 5px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust based on your navbar height */
    right: 0;
    background-color: #3e3e3e;
    width: 100%;
    align-items: center;
    z-index: 1000;
  }
  .navbar-menu {
    display: none;
  }
}
