<!-- <nav class="navbar">
  <div class="navbar-brand" routerLink="/explore">My App</div>
  <div class="navbar-menu">
    <ul>
      <li *ngIf="loggedIn" class="navbar-item"><a routerLinkActive="active" routerLink="/explore">Explore</a></li>
      <li *ngIf="loggedIn" class="navbar-item"><a routerLinkActive="active" [routerLink]="['/profile/', userId]">My profile</a></li>
      <li *ngIf="!loggedIn" class="navbar-item"><a routerLinkActive="active" routerLink="/">Login/Signup</a></li>

      <li class="navbar-item"><a routerLinkActive="active" routerLink="/test">Test</a></li>

      <li *ngIf="loggedIn"><button (click)="logout()" class="logButton">Logout</button></li>
    </ul>
  </div>
</nav> -->


<nav class="navbar">
  <div class="navbar-brand" routerLink="/explore">Reservation App</div>
  <div class="hamburger" (click)="toggleNavbar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="navbar-menu">
    <ul>
      <!-- <li *ngIf="loggedIn" class="navbar-item"><a routerLinkActive="active" routerLink="/explore">Explore</a></li> -->
      <li class="navbar-item"><a routerLinkActive="active" routerLink="/explore">Explore</a></li>
      <li *ngIf="loggedIn" class="navbar-item"><a routerLinkActive="active" [routerLink]="['/profile/', userId]">My profile</a></li>
      <li *ngIf="!loggedIn" class="navbar-item"><a routerLinkActive="active" routerLink="/start">Login/Signup</a></li>
      <!-- <li class="navbar-item"><a routerLinkActive="active" routerLink="/test">Test</a></li> -->
      <li *ngIf="loggedIn"><button (click)="logout()" class="logButton">Logout</button></li>
    </ul>
  </div>
</nav>
