<h2>Images:</h2>
<br>
<div *ngFor="let image of images">
  <img [src]="image" alt="Business Image">
</div>

<br>
<br>
<h2>TODO:</h2>
<li><p>Let businesses show pictures to attract customers.  Maybe limit to a set number of pictures per business in MVP</p></li>
<li><p>Add/delete img feature</p></li>
<li><p>Should probably add a dedicated image component to add some styling</p></li>
<li><p>Let img be next to each other</p></li>
<li><p>Maybe enlarge img when clicked</p></li>
<li><p>Could also be a feed showing recent visits but that will not be in the MVP</p></li>
<br>
<br>
<h2>Probably not in MVP</h2>
