.business-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #3e3e3e;
  box-shadow: 0px -1px 10px #2e2e2e;
}

.business-menu-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.business-menu-item:hover {
  background-color: #5e5e5e;
  color: #f5f5f5;
}

.active{
  background-color: #5e5e5e;
  color: #f5f5f5;
}
