<div class="business-menu">
  <a
      routerLinkActive="active"
      routerLink="info"
      class="business-menu-item">Info</a>

  <a
      *ngIf="userIsAuth"
      routerLinkActive="active"
      routerLink="reservation"
      class="business-menu-item">Reservation</a>

  <a
      routerLinkActive="active"
      routerLink="menu"
      class="business-menu-item">Menu</a>

      <!-- Images will not be in the minimum viable product -->
  <!-- <a
      routerLinkActive="active"
      routerLink="images"
      class="business-menu-item">Images</a> -->

</div>
