/* Customize the signup form */
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #333;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005c80;
  transform: scale(1.05);
}

button:disabled {
  background-color: #005c80;
  cursor: not-allowed;
  opacity: 0.6;
}

.error-message {
  color: red;
  margin-top: 5px;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
