<div class="business-hours-container">
  <h2>Opening Hours</h2>
  <table>
    <tr>
      <th>Day</th>
      <th>Hours</th>
    </tr>
    <tr>
      <td>Monday</td>
      <td *ngIf="monday">{{ monday.opening_time }} - {{ monday.closing_time }}</td>
      <td *ngIf="!monday">Closed</td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td *ngIf="tuesday">{{ tuesday.opening_time }} - {{ tuesday.closing_time }}</td>
      <td *ngIf="!tuesday">Closed</td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td *ngIf="wednesday">{{ wednesday.opening_time }} - {{ wednesday.closing_time }}</td>
      <td *ngIf="!wednesday">Closed</td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td *ngIf="thursday">{{ thursday.opening_time }} - {{ thursday.closing_time }}</td>
      <td *ngIf="!thursday">Closed</td>
    </tr>
    <tr>
      <td>Friday</td>
      <td *ngIf="friday">{{ friday.opening_time }} - {{ friday.closing_time }}</td>
      <td *ngIf="!friday">Closed</td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td *ngIf="saturday">{{ saturday.opening_time }} - {{ saturday.closing_time }}</td>
      <td *ngIf="!saturday">Closed</td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td *ngIf="sunday">{{ sunday.opening_time }} - {{ sunday.closing_time }}</td>
      <td *ngIf="!sunday">Closed</td>
    </tr>
  </table>
</div>

<div *ngIf="lat && lng">
  <div class="location-container">
    <h2>Location:</h2>
  </div>

  <div>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>


