.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  margin-top: 10px;
}
.search-input {
  border: 1px solid #ccc;
  padding: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 1rem;
  width: 80%;
  background-color: #555;
  color: #fff;
}
.search-button {
  background-color: #555;
  border: 1px solid #ccc;
  padding: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}
.search-button:hover {
  background-color: #3e8e41;
}
.fa-search {
  margin-right: 5px;
}
